<br>
<section class="main">
  <div class="content">
    <section class="bar">
      <div class="bar-frame">
        <ul class="breadcrumbs">
          <li><a href="index.html">Home</a></li>
          <li>Product results</li>
        </ul>
      </div>
    </section>
    <div class="top-bar">
      <form class="form-sort" action="#">
        <fieldset>
          <div class="row">
            <label for="sort">Sort by :</label>
            <select id="sort">
              <option>price</option>
              <option>name</option>
            </select>
            <%= sortable 'name' %>
            <%= sortable 'price' %>
          </div>
          <div class="row">
            <label for="page">Products per page:</label>
            <select id="page">
              <option>8</option>
              <option>8</option>
            </select>
          </div>
          <div class="row">
            <label for="page">Type of product:</label>
            <select id="page">
              <option>Boxed</option>
              <option>Boxed</option>
            </select>
          </div>
        </fieldset>
      </form>
      <%= will_paginate @products %>
    </div>

    <ul class="item-product">
      <% @products.each do |product| %>
        <li>
          <div class="item" id='item_<%=product.id%>'>
            <div class="preview">
              <div class="image">
                <a href="product.html"><img src="images/pic_06.png"  alt="" /></a>
              </div>
              <span class="name"><%= link_to product.name,product_path(product),remote: true%></span>
              <span><%= number_to_currency product.price %></span>
              <br>
              <p>
                <%= form_for @order_product, remote: true do |f| %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.number_field :quantity, :min=>'0', class: 'cart-amount' %>
                  <%= f.submit "Add to cart", class: 'cart-submit' %>
                <% end %>
              </p>
            </div>
            <div class="detail hidden-product" style="">
              <h1><%= link_to product.name,product_path(product),remote: true%></h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="top-bar top-bar-add">
      <ul class="paging">
        <li class="prev"><a href="#">prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="next"><a href="#">next</a></li>
      </ul>
    </div>
  </div>
</section>
