<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <% if @order_products.any? %>
      <% @order_products.each do |item| %>
        <div class="padding">
          <p><%= item.product.name %> | <%= link_to "Delete", order_product_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
          <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
        </div>
      <% end %>
      <br>
      <label class="btn amount padding">
        <span>Amount: <%= number_to_currency current_order.total_price %></span>
      </label>
    <% else %>
      <p class="padding">Your shopping cart is empty.</p>
    <% end %>

  </article>
  <% if current_user %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount=<%= current_order.total_price * 100 %>
            data-locale="auto"></script>
  <% else %>
  <div class="padding default-font">
    <br>
    <%= link_to "Sign in to check out", new_user_session_path%> |
    <%= link_to "Sign up to check out", new_user_registration_path %>
  </div>
  <% end %>
<% end %>
