<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="format-detection" content="telephone=no">
  	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/stylesheets/fancySelect.css" />
  	<link rel="stylesheet" href="/stylesheets/uniform.css" />
  	<link rel="stylesheet" href="/stylesheets/jquery.bxslider.css" />
  	<link href="/stylesheets/jquery-ui-1.10.4.custom.css" rel="stylesheet">
  	<link rel="stylesheet" href="/stylesheets/all.css" />
  	<link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  	<script type="text/javascript" src="javascripts/jcarousellite.js"></script>
  	<script type="text/javascript" src="javascripts/jquery.placeholder.js"></script>
  	<script type="text/javascript" src="javascripts/jquery.uniform.min.js"></script>
  	<script type="text/javascript" src="javascripts/fancySelect.js"></script>
  	<script type="text/javascript" src="javascripts/jquery.bxslider.js"></script>
  	<script src="javascripts/jquery-ui-1.10.4.custom.js"></script>
  	<script type="text/javascript" src="javascripts/main.js"></script>

    <title>Old Fashions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
  		<div class="wrapper-holder">
  			<div class="header-holder">
  				<header id="header">
  					<span class="logo"><a href="/">Bambino</a></span>
  					<div class="tools-nav_holder">
  						<ul class="tools-nav">
  							<% if current_user %>
                  <li>
                    <%= link_to "My Account", edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Sign up", new_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "Sign in", new_user_session_path %>
                  </li>
                <% end %>
                </li>
  						</ul>
              <div class="checkout">
  							<span id="quantity"><%= current_order.calculate_quantity %> products</span><span id="total-price">$<%= current_order.total_price %></span>
                <%= link_to "Checkout", new_charge_path, class: "btn btn_checkout" %>
              </div>
  					</div>
  					<div class="clear"></div>
  					<a class="menu_trigger" href="#">menu</a>
  					<nav id="nav">
  						<ul class="navi">
  							<!-- <li class="searc_li" >
  								<div  class="ul_search li"> -->
  									<%= form_tag products_path, :method =>'get' do %>
                      <p>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag 'Search', :name=> nil %>
                      </p>
                    <% end %>
  								<!-- </div>
  							</li> -->
  							<li><a href="products.html">Our collection</a></li>
  							<li><a href="products.html">Top products </a></li>
  							<li><a href="products.html">Best sellers</a></li>
  							<li><a href="products.html">Gifts</a></li>
  							<li><a href="products.html">Promotions</a></li>
  						</ul>
  						<div  class="ul_search">
  							<a class="search" href="#"><span>search</span></a>
  							<form method="get" class="searchform" action="#">
  								<input type="text" class="field" name="s" id="s" placeholder="What are you looking for?" />
  								<input type="submit" class="submit" value=""  />
  							</form>
  						</div>
  					</nav>
  				</header>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <br>
          <%= yield %>
          <br>
          <footer id="footer">
      			<div class="footer-content">
      				<ul class="left_side">
      					<li>
      						<span>Our mission:</span>
      						<p style="line-height: 26px;">Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit quia.</p>
      					</li>
      					<li>
      						<span>Popular posts:</span>
      						<a href="#">Perspiciatis unde omnis</a>
      						<a href="#">Numquam eius</a>
      						<a href="#">Corporis suscipit laboriosam</a>
      						<a class="last" href="#">Neque porro quisquam</a>
      					</li>
      					<li>
      						<span>Contact us:</span>
      						<p>Bambino INC.<br />6737 Arch St, PA 19107</p>
      						<p>Tel. (421) 562 524 534<br />office@bambino.com</p>

      					</li>
      				</ul>
      				<ul class="right_side">
      					<li>
      						<span>Social media:</span>
      						<div class="social">
      							<a href="#" class="fb">Facebook</a>
      							<a href="#" class="tw">Twitter</a>
      						</div>
      						<div class="social">
      							<a href="#" class="gl">Google+</a>
      							<a href="#" class="pn">Pinterest</a>
      						</div>
      					</li>
      				</ul>
      				<div class="clear"></div>
      				<p class="copy">Copyright 2014 Bambino. All rights reserved.</p>
      			</div>
      		</footer>
        </div>
      </div>
    </div>
  </body>
</html>
